<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014019251582-4j1n73iannjc9tuo79037bugj3hens06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014019251582-4j1n73iannjc9tuo79037bugj3hens06</string>
	<key>API_KEY</key>
	<string>AIzaSyBqYxfAeNyg3fQHkgTik4FMSoGzr6y6lX0</string>
	<key>GCM_SENDER_ID</key>
	<string>1014019251582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frute</string>
	<key>PROJECT_ID</key>
	<string>vebell-e8e3e</string>
	<key>STORAGE_BUCKET</key>
	<string>vebell-e8e3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014019251582:ios:d987f2b0c0baeea15ae72f</string>
	<key>DATABASE_URL</key>
	<string>https://vebell-e8e3e.firebaseio.com</string>
</dict>
</plist>